.main-container {
    width: 75%;
    margin: auto;
    padding-top: 100px;
}
/* Back Button */
.back-btn{
    padding-left:30px;
}
a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
    /* color:black;
    background-color: purple; */
}
/* Playone Page */
.play-one{
    padding-top:100px;
}